.LoginPage__columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* overflow: hidden; */
  height: 100vh;
  min-width: 100vw;
  font-family: "Inter", sans-serif;
  background-color: rgb(242, 244, 248);
}

.LoginPage__column {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LoginPage__login-column {
  width: 40%;
}

.LoginPage__login-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 350px;
}
.LoginPage__logo {
  height: 60px;
  margin-bottom: 30px;
}

.LoginPage__message {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 15px;
  color: rgb(22, 24, 26);
  letter-spacing: -1px;
  line-height: 1.4;
}

.LoginPage__message-subtitle {
  font-size: 20px;
  color: #869191;
  margin-bottom: 45px;
}

.LoginPage__image-column {
  width: 60%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.LoginPage__image {
  height: 80%;
  object-fit: cover;
}

.LoginPage__LoginForm {
  margin-left: -20px;
}

.LoginPage__switch-login {
  font-size: 13px;
  padding-top: 20px;
}
.LoginPage__switch-login span {
  color: #8650fa;
  font-weight: 700;
  cursor: pointer;
}

.LoginPage__component {
  transition: all 0.3s;
  background-color: rgb(242, 244, 248);
  visibility: hidden;
  height: 0px;
  opacity: 0;
  overflow: hidden;
}
.LoginPage__component-active {
  visibility: visible;
  height: 500px;
  opacity: 1;
}
