table {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
}
thead tr {
  color: inherit;
  display: table-row;
  outline: 0;
  vertical-align: middle;
}
thead tr th {
  color: rgba(0, 0, 0, 0.87);
  /* font-weight: 500; */
  line-height: 1.5rem;
  display: table-cell;
  padding: 16px;
  font-size: 0.875rem;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}
tbody {
  display: table-row-group;
}
tbody tr {
  color: inherit;
  display: table-row;
  outline: 0;
  vertical-align: middle;
}
tbody tr td {
  display: table-cell;
  padding: 16px;
  font-size: 0.875rem;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
  color: rgba(0, 0, 0, 0.87);
  /* text-align: right; */
  /* flex-direction: row-reverse; */
}

.ellipsis {
}

.ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
