.HomePage__container {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(242, 244, 248);
  font-family: "Inter", sans-serif;
}

.HomePage__container code,
a,
strong {
  color: #504a5e;
}

.HomePage__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.HomePage__text {
  padding: 20px;
  width: 40vw;
}

.HomePage__logo {
  height: 60px;
  margin: 20px 0px;
}

.HomePage__text-title {
  font-size: 48px;
  width: 60%;
  font-weight: 900;
  margin-top: 10px;
  color: #000000;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
.HomePage__text-subtitle {
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0px;
  color: #869191;
}
.HomePage__text-subtitle .icon {
  color: #8650fa;
  margin-right: 10px;
  font-weight: 700;
}
.HomePage__tutorial-subtitle {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0px;
  color: #292930;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

.HomePage__image-column {
  width: 40vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
.HomePage__image {
  height: 80%;
  object-fit: cover;
}
